<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Masterdata hjelpeUI og API</title>
    <script src="/static/js/apiclient.js"></script>
    <script src="/static/js/domhelpers.js"></script>
    <style>
        div {
            border-top: 2px grey solid;
            clear: both;
        }
        select {
            max-width: 20%;
        }
    </style>
</head>

<body>
    <h1>Masterdata hjelpe-UI og API</h1>
    <form id="filterform">
        Verk: <select name="work">
            <option value="SkolenMin">Skolen min, CDU</option>
            <option value="Aunivers">Aunivers, Aschehoug</option>
            <option value="Skolestudio">Skolestudio, Gyldendal</option>
        </select>
        Klasse: <input type="number" name="level">
        Kapittel/side: <input name="chapterpage">
        <label><input type="checkbox" name="requires_teacher">Lærerstyrt</label>
        <hr>Filtrer på referanse(r):
        <select name="didactic_challenge"></select>
        <select name="digital_affordance"></select>
        <select name="goal"></select>
        <input type="submit" value="Filtrer">
    </form>
    <script>
        // global variables
        var selectedWork = document.getElementsByName('work')[0].value;
        var affordances = [];
        var goals = [];
        var didactics = [];

        function filtersubmit(evt) {
            evt.preventDefault();
            showFilteredData(evt.target.form || evt.target);
        }
        function showFilteredData(form){
            return getFilteredList(selectedWork, form)
                .then(function (data) {
                    console.log(data);
                    renderPageEvalData(document.getElementsByName('work')[0].value, data);
                })
                .catch(function (error) {
                    console.error(error);
                });
        }
        document.getElementById('filterform').onsubmit = filtersubmit;
        for (var i = 1 /* omit select! */, el; el = document.getElementById('filterform').elements[i]; i++) {
            el.oninput = el.onchange = filtersubmit;
        }

        function refreshSelectedWork() {
            selectedWork = document.getElementsByName('work')[0].value;
            document.getElementById('updateform').action = `/api/batchpatch/${selectedWork}`;
            return Promise.all([
                getDocuments(selectedWork, 'didactic_challenge'),
                getDocuments(selectedWork, 'digital_affordance'),
                getDocuments(selectedWork, 'official_goal'),
            ])
                .then(results => {
                    didactics = results[0];
                    affordances = results[1];
                    goals = results[2];
                    updateSelect(document.getElementsByName('didactic_challenge')[0], didactics);
                    updateSelect(document.getElementsByName('digital_affordance')[0], affordances);
                    updateSelect(document.getElementsByName('goal')[0], goals);
                    // update form elements
                    updateSelect(document.getElementsByName('challenge')[0], didactics);
                    updateSelect(document.getElementsByName('affordance')[0], affordances);
                    updateSelect(document.getElementsByName('goals')[0], goals);
                });
        }

        function updateSelect(selectElm, data) {
            data.sort((a, b) => {
                return (a.title || a.goal) < (b.title || b.goal) ? -1 : 1
            });
            const selected = selectElm.value;
            while (selectElm.firstChild) {
                selectElm.removeChild(selectElm.firstChild);
            }
            selectElm.appendChild(elm('option'));
            data.forEach(item => {
                selectElm.appendChild(elm('option', {value: item._id}, item.title || item.goal))
            });
            selectElm.value = selected;
        }

        document.getElementsByName('work')[0].onchange = function (evt) {
            refreshSelectedWork(evt).then(() => {
                filtersubmit(evt);
            });
        }
        window.onload = refreshSelectedWork;
    </script>

    <form method="post" id="updateform" >
        {{{body}}}

        <div style="position: fixed; bottom: 0; background-color: white">
        <hr>
        <label><input type="checkbox" name="requires_teacher">Lærerstyrt</label>
        <label><input type="checkbox" name="collaborative">Samarbeid</label>
        <hr>
        <select name="challenge"></select>
        <select name="affordance"></select>
        <select name="goals"></select>
        <input type="submit" value="Endre valgte">
        <input type="button" value="merk alle (av/på)" id="toggler">
</div>
    </form>
    <script>
        document.getElementById('updateform').onsubmit = function(evt) {
            evt.preventDefault();
            const form = evt.target;
            const fd = new FormData(form);
            fetch(form.action, {
                method: 'post',
                body: fd
            })
            .then(response => {
                console.log(response);
                if (!response.ok) {
                    alert('ops..!? Sjekk konsollen for feilmeldinger');
                }
                showFilteredData(document.getElementById('filterform'));
            });
        }
        document.getElementById('toggler').onclick = function() {
            const list = document.querySelectorAll('main input[type=checkbox]');
            for (let i = 0; i < list.length; i++) {
                list[i].checked = !list[i].checked;
            }
        }
    </script>
</body>

</html>